
@{
    ViewBag.Title = "Finish";
    Layout = null;
}

<h2>Finish</h2>

<div>
    <h2>THÔNG TIN SINH VIÊN ĐÃ ĐĂNG KÝ</h2>
    <p>ID Student: @ViewBag.Id</p>
    <p>Full name: @ViewBag.Name</p>
    <p>Mark: @ViewBag.Marks</p>
    <button onclick="window.history.back()">Go back</button>
</div>